Data Scraping Notebook

In [191]:
# Import dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

# Import the API key
from config import geoapify_key
from config import census_key


# Launch the browser
browser = Browser('chrome')

Create a "dictiornary" lists listing all states - Createing the list will help to make sure all states are listed and no state data will be lot in dataframe merges that will follow.

In [192]:
# Set the URL to visit to a variable
url_states = "https://developers.google.com/public-data/docs/canonical/states_csv"

# Send the browser to the URL
browser.visit(url_states)

# Save the HTML from the browser
html = browser.html

# Create a BeautifulSoup object from the HTML
soup = BeautifulSoup(html, 'html.parser')

In [193]:
#find all divs that contain state marker
table_state = soup.find('div', class_='devsite-table-wrapper')

In [194]:
#Extract state-specific tax data from the table and build a dictionary of the data. 
state = {}

# Find the table element
state_list = []


# Check if the table is found
if table_state:
    # Find all rows in the table body
    rows = table_state.select('tbody tr')

    # Loop through the rows
    for row in rows:
        # Find all cells in the row
        cells = row.select('td')
        
        # Check if there are cells in the row
        if cells:
            # Extract data from the cells
            state = cells[0].text.strip()
            lat = cells[1].text.strip()
            lon = cells[2].text.strip()
            name = cells[3].text.strip()
            
            # Create a dictionary for the current state
            state = {'state_abbr': state, 'state': name}
            
            # Append the state data dictionary to the list
            state_list.append(state)

# Print the extracted data
#for state in state_list:
    #print(state)

In [195]:
#load scraped state data into dataframe
state_df = pd.DataFrame(state_list)
#save dataframe to csv
state_df.to_csv('Resources/state_list.csv', index=False)

1. Which states require payment of state taxes on gambling winnings?

 A table showing the latest information regarding which states tax gambling winnings. Keep in mind that each state that requires state tax on gambling income has its own tax rate and guidelines. In some cases, gambling winnings are subject to state tax except for lottery winnings.

In [196]:
# Set the URL to visit to a variable
url = "https://www.playusa.com/taxes/"

# Send the browser to the URL
browser.visit(url)

# Save the HTML from the browser
html = browser.html

# Create a BeautifulSoup object from the HTML
soup = BeautifulSoup(html, 'html.parser')

In [197]:
#find all divs that contain state marker
table = soup.find('table', class_='tablepress-responsive')

In [198]:
#Extract state-specific tax data from the table and build a dictionary of the data. 
state_tax = {}

# Find the table element
state_tax_list = []

# Find the table element
#table = soup.find('table', {'class': 'tablepress'})

# Check if the table is found
if table:
    # Find all rows in the table body
    rows = table.select('tbody tr')

    # Loop through the rows
    for row in rows:
        # Find all cells in the row
        cells = row.select('td')
        
        # Check if there are cells in the row
        if cells:
            # Extract data from the cells
            state = cells[0].text.strip()
            tax_status = cells[1].text.strip()
            
            # Create a dictionary for the current state
            state_data = {'state': state, 'tax_status': tax_status}
            
            # Append the state data dictionary to the list
            state_tax_list.append(state_data)

# Print the extracted data
for state_data in state_tax_list:
    print(state_data)

{'state': 'Alabama', 'tax_status': 'Yes'}
{'state': 'Alaska', 'tax_status': 'No'}
{'state': 'Arizona', 'tax_status': 'Yes'}
{'state': 'Arkansas', 'tax_status': 'Yes'}
{'state': 'California', 'tax_status': 'No'}
{'state': 'Colorado', 'tax_status': 'Yes'}
{'state': 'Connecticut', 'tax_status': 'Yes'}
{'state': 'Delaware', 'tax_status': 'Yes'}
{'state': 'D.C.', 'tax_status': 'Yes'}
{'state': 'Florida', 'tax_status': 'No'}
{'state': 'Georgia', 'tax_status': 'Yes'}
{'state': 'Hawaii', 'tax_status': 'No'}
{'state': 'Idaho', 'tax_status': 'Yes'}
{'state': 'Illinois', 'tax_status': 'Yes'}
{'state': 'Indiana', 'tax_status': 'Yes'}
{'state': 'Iowa', 'tax_status': 'Yes'}
{'state': 'Kansas', 'tax_status': 'Yes'}
{'state': 'Kentucky', 'tax_status': 'Yes'}
{'state': 'Louisiana', 'tax_status': 'Yes'}
{'state': 'Maine', 'tax_status': 'Yes'}
{'state': 'Maryland', 'tax_status': 'Yes'}
{'state': 'Massachusetts', 'tax_status': 'Yes'}
{'state': 'Michigan', 'tax_status': 'Yes'}
{'state': 'Minnesota', 'tax_status': 'Yes'}
{'state': 'Mississippi', 'tax_status': 'Yes'}
{'state': 'Missouri', 'tax_status': 'Yes'}
{'state': 'Montana', 'tax_status': 'Yes'}
{'state': 'Nebraska', 'tax_status': 'Yes'}
{'state': 'Nevada', 'tax_status': 'No'}
{'state': 'New Hampshire', 'tax_status': 'No'}
{'state': 'New Jersey', 'tax_status': 'Yes'}
{'state': 'New Mexico', 'tax_status': 'Yes'}
{'state': 'New York', 'tax_status': 'Yes'}
{'state': 'North Carolina', 'tax_status': 'Yes'}
{'state': 'North Dakota', 'tax_status': 'Yes'}
{'state': 'Ohio', 'tax_status': 'Yes'}
{'state': 'Oklahoma', 'tax_status': 'Yes'}
{'state': 'Oregon', 'tax_status': 'Yes'}
{'state': 'Pennsylvania', 'tax_status': 'Yes'}
{'state': 'Rhode Island', 'tax_status': 'Yes'}
{'state': 'South Carolina', 'tax_status': 'Yes'}
{'state': 'South Dakota', 'tax_status': 'No'}
{'state': 'Tennessee', 'tax_status': 'No'}
{'state': 'Texas', 'tax_status': 'No'}
{'state': 'Utah', 'tax_status': 'No'}
{'state': 'Vermont', 'tax_status': 'Yes'}
{'state': 'Virginia', 'tax_status': 'Yes'}
{'state': 'Washington', 'tax_status': 'No'}
{'state': 'West Virginia', 'tax_status': 'Yes'}
{'state': 'Wisconsin', 'tax_status': 'Yes'}
{'state': 'Wyoming', 'tax_status': 'No'}

In [199]:
#create a dataframe from the state_data dictionary of lists and display the first 5 rows
state_tax_df = pd.DataFrame(state_tax_list)
state_tax_df.head()

        state tax_status
0     Alabama        Yes
1      Alaska         No
2     Arizona        Yes
3    Arkansas        Yes
4  California         No

In [200]:
#replace D.C. to District of Columbia in the state column
state_tax_df['state'] = state_tax_df['state'].replace('D.C.', 'District of Columbia')

Combining the tax information with the full list of states to ensure all states are listed for merges that follow.

In [201]:
#merge state_df and state_tax_df
state_tax_df = state_df.merge(state_tax_df, on='state', how='left')

In [202]:
state_tax_df.to_csv('Resources/state_tax_df.csv', index=False)

2. Scrape the running total for sports betting handle and revenue reported to date across all active markets:

In [203]:
# Set the URL to visit to a variable
url = "https://www.legalsportsreport.com/sports-betting/revenue/"

# Send the browser to the URL
browser.visit(url)

# Save the HTML from the browser
html = browser.html

# Create a BeautifulSoup object from the HTML
soup = BeautifulSoup(html, 'html.parser')

In [204]:
rev_table = soup.find('table', class_='tablepress-id-Rev_Markets')

In [205]:
# Create an empty list to store market data
market_data_list = []

# Find the table element
#rev_table = soup.find('table', {'class': 'tablepress'})

# Check if the table is found
if rev_table:
    # Find all rows in the table body
    rows = rev_table.select('tbody tr')

    # Loop through the rows
    for row in rows:
        # Find all cells in the row
        cells = row.select('td')
        
        # Check if there are cells in the row
        if cells:
            # Extract data from the cells
            market = cells[0].text.strip()
            handle = cells[1].text.strip()
            revenue = cells[2].text.strip()
            hold = cells[3].text.strip()
            taxes = cells[4].text.strip()
            
            # Create a dictionary for the current market
            market_data = {'state': market, 'handle': handle, 'revenue': revenue, 'hold': hold, 'taxes': taxes}
            
            # Append the market data dictionary to the list
            market_data_list.append(market_data)

# Print the extracted data
for market_data in market_data_list:
    print(market_data)

{'state': 'New Jersey', 'handle': '$39,461,272,422', 'revenue': '$2,871,419,711', 'hold': '7.3%', 'taxes': '$397,552,569'}
{'state': 'Nevada', 'handle': '$33,520,083,578', 'revenue': '$1,885,621,000', 'hold': '5.6%', 'taxes': '$127,279,418'}
{'state': 'New York', 'handle': '$25,545,018,522', 'revenue': '$2,231,885,589', 'hold': '8.7%', 'taxes': '$1,116,577,865'}
{'state': 'Illinois', 'handle': '$24,059,865,704', 'revenue': '$1,962,146,676', 'hold': '8.2%', 'taxes': '$312,219,908'}
{'state': 'Pennsylvania', 'handle': '$22,766,881,865', 'revenue': '$1,856,291,582', 'hold': '8.2%', 'taxes': '$462,263,411'}
{'state': 'Colorado', 'handle': '$12,795,525,493', 'revenue': '$857,637,396', 'hold': '6.7%', 'taxes': '$46,491,000'}
{'state': 'Indiana', 'handle': '$12,751,685,026', 'revenue': '$1,085,683,295', 'hold': '8.5%', 'taxes': '$103,236,082'}
{'state': 'Michigan', 'handle': '$11,067,854,802', 'revenue': '$950,198,739', 'hold': '8.6%', 'taxes': '$48,127,549'}
{'state': 'Arizona', 'handle': '$11,005,985,362', 'revenue': '$907,366,992', 'hold': '8.2%', 'taxes': '$51,509,590'}
{'state': 'Virginia', 'handle': '$10,748,305,916', 'revenue': '$1,037,483,246', 'hold': '9.7%', 'taxes': '$106,594,915'}
{'state': 'Tennessee', 'handle': '$9,066,781,322', 'revenue': '$886,312,510', 'hold': '9.8%', 'taxes': '$157,367,429'}
{'state': 'Iowa', 'handle': '$6,394,943,025', 'revenue': '$448,776,797', 'hold': '7.0%', 'taxes': '$30,292,576'}
{'state': 'Ohio', 'handle': '$3,824,758,134', 'revenue': '$541,598,207', 'hold': '14.2%', 'taxes': '$54,280,486'}
{'state': 'Louisiana', 'handle': '$3,664,111,977', 'revenue': '$384,344,028', 'hold': '10.5%', 'taxes': '$52,909,783'}
{'state': 'Maryland', 'handle': '$3,313,550,990', 'revenue': '$433,593,390', 'hold': '13.1%', 'taxes': '$31,454,432'}
{'state': 'Connecticut', 'handle': '$2,739,546,897', 'revenue': '$276,599,033', 'hold': '10.1%', 'taxes': '$27,911,334'}
{'state': 'New Hampshire', 'handle': '$2,369,549,589', 'revenue': '$180,081,224', 'hold': '7.6%', 'taxes': '$82,542,292'}
{'state': 'Massachusetts', 'handle': '$2,265,472,484', 'revenue': '$235,255,646', 'hold': '10.4%', 'taxes': '$45,716,658'}
{'state': 'Mississippi', 'handle': '$2,249,616,951', 'revenue': '$255,030,803', 'hold': '11.3%', 'taxes': '$30,603,696'}
{'state': 'West Virginia', 'handle': '$2,051,711,160', 'revenue': '$172,240,532', 'hold': '8.4%', 'taxes': '$17,225,963'}
{'state': 'Kansas', 'handle': '$1,756,305,481', 'revenue': '$158,767,938', 'hold': '9.0%', 'taxes': '$6,503,379'}
{'state': 'Rhode Island', 'handle': '$1,707,470,362', 'revenue': '$152,391,731', 'hold': '8.9%', 'taxes': '$77,719,783'}
{'state': 'Oregon', 'handle': '$1,254,314,057', 'revenue': '$120,810,711', 'hold': '9.6%', 'taxes': '$60,405,356'}
{'state': 'District of Columbia', 'handle': '$598,243,001', 'revenue': '$73,848,263', 'hold': '12.3%', 'taxes': '$18,623,076'}
{'state': 'Delaware', 'handle': '$567,831,224', 'revenue': '$112,283,049', 'hold': '19.8%', 'taxes': '$66,008,234'}
{'state': 'Arkansas', 'handle': '$486,217,898', 'revenue': '$49,119,871', 'hold': '10.1%', 'taxes': '$7,134,908'}
{'state': 'Wyoming', 'handle': '$260,463,927', 'revenue': '$26,680,404', 'hold': '10.2%', 'taxes': '$1,436,139'}
{'state': 'Montana', 'handle': '$149,796,135', 'revenue': '$20,555,840', 'hold': '13.7%', 'taxes': '$3,345,736'}
{'state': 'South Dakota', 'handle': '$13,834,301', 'revenue': '$1,704,952', 'hold': '12.3%', 'taxes': '$153,446'}
{'state': 'Wisconsin', 'handle': '?', 'revenue': '?', 'hold': '', 'taxes': '?'}
{'state': 'North Dakota', 'handle': '?', 'revenue': '?', 'hold': '', 'taxes': '?'}
{'state': 'New Mexico', 'handle': '?', 'revenue': '?', 'hold': '', 'taxes': '?'}
{'state': 'Washington', 'handle': '?', 'revenue': '?', 'hold': '', 'taxes': '?'}
{'state': 'North Carolina', 'handle': '?', 'revenue': '?', 'hold': '', 'taxes': '?'}

In [206]:
market_rev_df = pd.DataFrame(market_data_list)
market_rev_df.head(51)

,state,handle,revenue,hold,taxes
0,New Jersey,"$39,461,272,422","$2,871,419,711",7.3%,"$397,552,569"
1,Nevada,"$33,520,083,578","$1,885,621,000",5.6%,"$127,279,418"
2,New York,"$25,545,018,522","$2,231,885,589",8.7%,"$1,116,577,865"
3,Illinois,"$24,059,865,704","$1,962,146,676",8.2%,"$312,219,908"
4,Pennsylvania,"$22,766,881,865","$1,856,291,582",8.2%,"$462,263,411"
5,Colorado,"$12,795,525,493","$857,637,396",6.7%,"$46,491,000"
6,Indiana,"$12,751,685,026","$1,085,683,295",8.5%,"$103,236,082"
7,Michigan,"$11,067,854,802","$950,198,739",8.6%,"$48,127,549"
8,Arizona,"$11,005,985,362","$907,366,992",8.2%,"$51,509,590"
9,Virginia,"$10,748,305,916","$1,037,483,246",9.7%,"$106,594,915"
10,Tennessee,"$9,066,781,322","$886,312,510",9.8%,"$157,367,429"
11,Iowa,"$6,394,943,025","$448,776,797",7.0%,"$30,292,576"
12,Ohio,"$3,824,758,134","$541,598,207",14.2%,"$54,280,486"
13,Louisiana,"$3,664,111,977","$384,344,028",10.5%,"$52,909,783"
14,Maryland,"$3,313,550,990","$433,593,390",13.1%,"$31,454,432"
15,Connecticut,"$2,739,546,897","$276,599,033",10.1%,"$27,911,334"
16,New Hampshire,"$2,369,549,589","$180,081,224",7.6%,"$82,542,292"
17,Massachusetts,"$2,265,472,484","$235,255,646",10.4%,"$45,716,658"
18,Mississippi,"$2,249,616,951","$255,030,803",11.3%,"$30,603,696"
19,West Virginia,"$2,051,711,160","$172,240,532",8.4%,"$17,225,963"
20,Kansas,"$1,756,305,481","$158,767,938",9.0%,"$6,503,379"
21,Rhode Island,"$1,707,470,362","$152,391,731",8.9%,"$77,719,783"
22,Oregon,"$1,254,314,057","$120,810,711",9.6%,"$60,405,356"
23,District of Columbia,"$598,243,001","$73,848,263",12.3%,"$18,623,076"
24,Delaware,"$567,831,224","$112,283,049",19.8%,"$66,008,234"
25,Arkansas,"$486,217,898","$49,119,871",10.1%,"$7,134,908"
26,Wyoming,"$260,463,927","$26,680,404",10.2%,"$1,436,139"
27,Montana,"$149,796,135","$20,555,840",13.7%,"$3,345,736"
28,South Dakota,"$13,834,301","$1,704,952",12.3%,"$153,446"
29,Wisconsin,?,?,,?
30,North Dakota,?,?,,?
31,New Mexico,?,?,,?
32,Washington,?,?,,?
33,North Carolina,?,?,,?

In [207]:
#replace "?"" in market_rev_df for handle, revenue, hold, and taxes with 0
market_rev_df = market_rev_df.replace({'?': 0})

Combining the tax information with the full list of states to ensure all states are listed for merges that follow.

In [208]:
#merge state_df and market_rev_df by state
state_rev_df = state_df.merge(market_rev_df, on='state', how='left')
#state_rev_df.head()
state_rev_df.head(51)

,state_abbr,state,handle,revenue,hold,taxes
0,AK,Alaska,NaN,NaN,NaN,NaN
1,AL,Alabama,NaN,NaN,NaN,NaN
2,AR,Arkansas,"$486,217,898","$49,119,871",10.1%,"$7,134,908"
3,AZ,Arizona,"$11,005,985,362","$907,366,992",8.2%,"$51,509,590"
4,CA,California,NaN,NaN,NaN,NaN
5,CO,Colorado,"$12,795,525,493","$857,637,396",6.7%,"$46,491,000"
6,CT,Connecticut,"$2,739,546,897","$276,599,033",10.1%,"$27,911,334"
7,DC,District of Columbia,"$598,243,001","$73,848,263",12.3%,"$18,623,076"
8,DE,Delaware,"$567,831,224","$112,283,049",19.8%,"$66,008,234"
9,FL,Florida,NaN,NaN,NaN,NaN
10,GA,Georgia,NaN,NaN,NaN,NaN
11,HI,Hawaii,NaN,NaN,NaN,NaN
12,IA,Iowa,"$6,394,943,025","$448,776,797",7.0%,"$30,292,576"
13,ID,Idaho,NaN,NaN,NaN,NaN
14,IL,Illinois,"$24,059,865,704","$1,962,146,676",8.2%,"$312,219,908"
15,IN,Indiana,"$12,751,685,026","$1,085,683,295",8.5%,"$103,236,082"
16,KS,Kansas,"$1,756,305,481","$158,767,938",9.0%,"$6,503,379"
17,KY,Kentucky,NaN,NaN,NaN,NaN
18,LA,Louisiana,"$3,664,111,977","$384,344,028",10.5%,"$52,909,783"
19,MA,Massachusetts,"$2,265,472,484","$235,255,646",10.4%,"$45,716,658"
20,MD,Maryland,"$3,313,550,990","$433,593,390",13.1%,"$31,454,432"
21,ME,Maine,NaN,NaN,NaN,NaN
22,MI,Michigan,"$11,067,854,802","$950,198,739",8.6%,"$48,127,549"
23,MN,Minnesota,NaN,NaN,NaN,NaN
24,MO,Missouri,NaN,NaN,NaN,NaN
25,MS,Mississippi,"$2,249,616,951","$255,030,803",11.3%,"$30,603,696"
26,MT,Montana,"$149,796,135","$20,555,840",13.7%,"$3,345,736"
27,NC,North Carolina,0,0,,0
28,ND,North Dakota,0,0,,0
29,NE,Nebraska,NaN,NaN,NaN,NaN
30,NH,New Hampshire,"$2,369,549,589","$180,081,224",7.6%,"$82,542,292"
31,NJ,New Jersey,"$39,461,272,422","$2,871,419,711",7.3%,"$397,552,569"
32,NM,New Mexico,0,0,,0
33,NV,Nevada,"$33,520,083,578","$1,885,621,000",5.6%,"$127,279,418"
34,NY,New York,"$25,545,018,522","$2,231,885,589",8.7%,"$1,116,577,865"
35,OH,Ohio,"$3,824,758,134","$541,598,207",14.2%,"$54,280,486"
36,OK,Oklahoma,NaN,NaN,NaN,NaN
37,OR,Oregon,"$1,254,314,057","$120,810,711",9.6%,"$60,405,356"
38,PA,Pennsylvania,"$22,766,881,865","$1,856,291,582",8.2%,"$462,263,411"
39,PR,Puerto Rico,NaN,NaN,NaN,NaN
40,RI,Rhode Island,"$1,707,470,362","$152,391,731",8.9%,"$77,719,783"
41,SC,South Carolina,NaN,NaN,NaN,NaN
42,SD,South Dakota,"$13,834,301","$1,704,952",12.3%,"$153,446"
43,TN,Tennessee,"$9,066,781,322","$886,312,510",9.8%,"$157,367,429"
44,TX,Texas,NaN,NaN,NaN,NaN
45,UT,Utah,NaN,NaN,NaN,NaN
46,VA,Virginia,"$10,748,305,916","$1,037,483,246",9.7%,"$106,594,915"
47,VT,Vermont,NaN,NaN,NaN,NaN
48,WA,Washington,0,0,,0
49,WI,Wisconsin,0,0,,0
50,WV,West Virginia,"$2,051,711,160","$172,240,532",8.4%,"$17,225,963"

In [209]:
#replace NaN with 0
state_rev_df = state_rev_df.fillna(0)

Adding the sports league detail to the revenue by state df.

In [210]:
#add sport league info to the market revenue data frame - data added from a csv file copied from WIKI https://en.wikipedia.org/wiki/Major_professional_sports_teams_of_the_United_States_and_Canada#:~:text=Teams%20%20%20%20Team%20%20%20,%20%20MLB%20%2018%20more%20rows%20
#file previously copied directly and saved in the csv format
#read the csv file
us_major_teams_df = pd.read_csv('Resources/us_major_teams.csv')
us_major_teams_df.head()

                   Team               Venue      City State/Province League
0  Arizona Diamondbacks         Chase Field   Phoenix        Arizona    MLB
1          Phoenix Suns    Footprint Center   Phoenix        Arizona    NBA
2     Arizona Cardinals  State Farm Stadium  Glendale        Arizona    NFL
3       Arizona Coyotes       Mullett Arena     Tempe        Arizona    NHL
4         Anaheim Ducks        Honda Center   Anaheim     California    NHL

In [211]:
# Create a summary DataFrame to count unique teams and leagues per state
summary_data = []

# Get unique states
unique_states = us_major_teams_df['State/Province'].unique()

for state in unique_states:
    state_teams = us_major_teams_df[us_major_teams_df['State/Province'] == state]
    total_teams = state_teams['Team'].nunique()
    
    state_summary = {'state': state, 'Teams Count': total_teams}
    
    # Count teams for each league
    leagues = ['MLB', 'NBA', 'NFL', 'NHL', 'MLS', 'NCAA']
    for league in leagues:
        league_count = state_teams[state_teams['League'] == league]['Team'].nunique()
        state_summary[league] = league_count
    
    summary_data.append(state_summary)

# Create the summary DataFrame
summary_df = pd.DataFrame(summary_data)

# Display the summary DataFrame
print(summary_df)

                   state  Teams Count  MLB  NBA  NFL  NHL  MLS  NCAA
0                Arizona            4    1    1    1    1    0     0
1             California           19    5    4    3    3    4     0
2               Colorado            5    1    1    1    1    1     0
3   District of Columbia            4    1    1    0    1    1     0
4                Florida           11    2    2    3    2    2     0
5                Georgia            4    1    1    1    0    1     0
6               Illinois            6    2    1    1    1    1     0
7                Indiana            2    0    1    1    0    0     0
8                 Kansas            1    0    0    0    0    1     0
9              Louisiana            2    0    1    1    0    0     0
10              Maryland            3    1    0    2    0    0     0
11         Massachusetts            5    1    1    1    1    1     0
12              Michigan            4    1    1    1    1    0     0
13             Minnesota            5    1    1    1    1    1     0
14              Missouri            5    2    0    1    1    1     0
15                Nevada            2    0    0    1    1    0     0
16            New Jersey            4    0    0    2    1    1     0
17              New York            9    2    2    1    3    1     0
18        North Carolina            4    0    1    1    1    1     0
19                  Ohio            8    2    1    2    1    2     0
20              Oklahoma            1    0    1    0    0    0     0
21                Oregon            2    0    1    0    0    1     0
22          Pennsylvania            8    2    1    2    2    1     0
23             Tennessee            4    0    1    1    1    1     0
24                 Texas           11    2    3    2    1    3     0
25                  Utah            2    0    1    0    0    1     0
26            Washington            4    1    0    1    1    1     0
27             Wisconsin            3    1    1    1    0    0     0

In [212]:
#merge market_rev_df with summary_df with by state with join on state 
merged_state_rev_league_df = pd.merge(market_rev_df, summary_df, on='state', how='left')

# Display the merged DataFrame
merged_state_rev_league_df.head(51)

,state,handle,revenue,hold,taxes,Teams Count,MLB,NBA,NFL,NHL,MLS,NCAA
0,New Jersey,"$39,461,272,422","$2,871,419,711",7.3%,"$397,552,569",4.0,0.0,0.0,2.0,1.0,1.0,0.0
1,Nevada,"$33,520,083,578","$1,885,621,000",5.6%,"$127,279,418",2.0,0.0,0.0,1.0,1.0,0.0,0.0
2,New York,"$25,545,018,522","$2,231,885,589",8.7%,"$1,116,577,865",9.0,2.0,2.0,1.0,3.0,1.0,0.0
3,Illinois,"$24,059,865,704","$1,962,146,676",8.2%,"$312,219,908",6.0,2.0,1.0,1.0,1.0,1.0,0.0
4,Pennsylvania,"$22,766,881,865","$1,856,291,582",8.2%,"$462,263,411",8.0,2.0,1.0,2.0,2.0,1.0,0.0
5,Colorado,"$12,795,525,493","$857,637,396",6.7%,"$46,491,000",5.0,1.0,1.0,1.0,1.0,1.0,0.0
6,Indiana,"$12,751,685,026","$1,085,683,295",8.5%,"$103,236,082",2.0,0.0,1.0,1.0,0.0,0.0,0.0
7,Michigan,"$11,067,854,802","$950,198,739",8.6%,"$48,127,549",4.0,1.0,1.0,1.0,1.0,0.0,0.0
8,Arizona,"$11,005,985,362","$907,366,992",8.2%,"$51,509,590",4.0,1.0,1.0,1.0,1.0,0.0,0.0
9,Virginia,"$10,748,305,916","$1,037,483,246",9.7%,"$106,594,915",NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Tennessee,"$9,066,781,322","$886,312,510",9.8%,"$157,367,429",4.0,0.0,1.0,1.0,1.0,1.0,0.0
11,Iowa,"$6,394,943,025","$448,776,797",7.0%,"$30,292,576",NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Ohio,"$3,824,758,134","$541,598,207",14.2%,"$54,280,486",8.0,2.0,1.0,2.0,1.0,2.0,0.0
13,Louisiana,"$3,664,111,977","$384,344,028",10.5%,"$52,909,783",2.0,0.0,1.0,1.0,0.0,0.0,0.0
14,Maryland,"$3,313,550,990","$433,593,390",13.1%,"$31,454,432",3.0,1.0,0.0,2.0,0.0,0.0,0.0
15,Connecticut,"$2,739,546,897","$276,599,033",10.1%,"$27,911,334",NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,New Hampshire,"$2,369,549,589","$180,081,224",7.6%,"$82,542,292",NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Massachusetts,"$2,265,472,484","$235,255,646",10.4%,"$45,716,658",5.0,1.0,1.0,1.0,1.0,1.0,0.0
18,Mississippi,"$2,249,616,951","$255,030,803",11.3%,"$30,603,696",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,West Virginia,"$2,051,711,160","$172,240,532",8.4%,"$17,225,963",NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Kansas,"$1,756,305,481","$158,767,938",9.0%,"$6,503,379",1.0,0.0,0.0,0.0,0.0,1.0,0.0
21,Rhode Island,"$1,707,470,362","$152,391,731",8.9%,"$77,719,783",NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Oregon,"$1,254,314,057","$120,810,711",9.6%,"$60,405,356",2.0,0.0,1.0,0.0,0.0,1.0,0.0
23,District of Columbia,"$598,243,001","$73,848,263",12.3%,"$18,623,076",4.0,1.0,1.0,0.0,1.0,1.0,0.0
24,Delaware,"$567,831,224","$112,283,049",19.8%,"$66,008,234",NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Arkansas,"$486,217,898","$49,119,871",10.1%,"$7,134,908",NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Wyoming,"$260,463,927","$26,680,404",10.2%,"$1,436,139",NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Montana,"$149,796,135","$20,555,840",13.7%,"$3,345,736",NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,South Dakota,"$13,834,301","$1,704,952",12.3%,"$153,446",NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Wisconsin,0,0,,0,3.0,1.0,1.0,1.0,0.0,0.0,0.0
30,North Dakota,0,0,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,New Mexico,0,0,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Washington,0,0,,0,4.0,1.0,0.0,1.0,1.0,1.0,0.0
33,North Carolina,0,0,,0,4.0,0.0,1.0,1.0,1.0,1.0,0.0

In [213]:
#show datatype for each column 
merged_state_rev_league_df.dtypes

state           object
handle          object
revenue         object
hold            object
taxes           object
Teams Count    float64
MLB            float64
NBA            float64
NFL            float64
NHL            float64
MLS            float64
NCAA           float64
dtype: object

In [215]:
#Datframe cleanup before loading into csv:
merged_state_rev_league_df = merged_state_rev_league_df.fillna(0)
merged_state_rev_league_df['handle'] = merged_state_rev_league_df['handle'].str.replace('[\$,]', '', regex=True).astype(float)
merged_state_rev_league_df['revenue'] = merged_state_rev_league_df['revenue'].str.replace('[\$,]', '', regex=True).astype(float)
merged_state_rev_league_df['hold'] = merged_state_rev_league_df['hold'].apply(lambda x: float(str(x).replace('%', '')) / 100)
merged_state_rev_league_df['taxes'] = merged_state_rev_league_df['taxes'].str.replace('[\$,]', '', regex=True).astype(float)

AttributeError: Can only use .str accessor with string values!

In [32]:
market_rev_df.to_csv('Resources/market_rev_df.csv', index=False)

3. US sports betting revenue by month

In [33]:
month_rev_table = soup.find('table', class_='tablepress-id-Rev_Months')

In [34]:
# Create an empty list to store market data
month_data_list = []

# Find the table element
#rev_table = soup.find('table', {'class': 'tablepress'})

# Check if the table is found
if month_rev_table:
    # Find all rows in the table body
    rows = month_rev_table.select('tbody tr')

    # Loop through the rows
    for row in rows:
        # Find all cells in the row
        cells = row.select('td')
        
        # Check if there are cells in the row
        if cells:
            # Extract data from the cells
            month = cells[0].text.strip()
            handle = cells[1].text.strip()
            revenue = cells[2].text.strip()
            hold = cells[3].text.strip()
            taxes = cells[4].text.strip()
            
            # Create a dictionary for the current market
            timeline_data = {'month': month, 'handle': handle, 'revenue': revenue, 'hold': hold, 'taxes': taxes}
            
            # Append the market data dictionary to the list
            month_data_list.append(timeline_data)

# Print the extracted data
for timeline_data in month_data_list:
    print(timeline_data)

{'month': 'June 2018', 'handle': '$309,695,659', 'revenue': '$24,630,915', 'hold': '8.0%', 'taxes': '$2,221,650'}
{'month': 'July 2018', 'handle': '$294,006,820', 'revenue': '$8,433,994', 'hold': '2.9%', 'taxes': '$926,804'}
{'month': 'August 2018', 'handle': '$359,275,692', 'revenue': '$23,625,881', 'hold': '6.6%', 'taxes': '$2,524,419'}
{'month': 'September 2018', 'handle': '$817,681,310', 'revenue': '$95,358,434', 'hold': '11.7%', 'taxes': '$12,245,073'}
{'month': 'October 2018', 'handle': '$854,014,077', 'revenue': '$45,832,391', 'hold': '5.4%', 'taxes': '$5,217,752'}
{'month': 'November 2018', 'handle': '$996,071,884', 'revenue': '$54,349,323', 'hold': '5.5%', 'taxes': '$6,272,898'}
{'month': 'December 2018', 'handle': '$990,933,059', 'revenue': '$82,266,923', 'hold': '8.3%', 'taxes': '$11,262,831'}
{'month': 'January 2019', 'handle': '$1,002,092,655', 'revenue': '$43,052,327', 'hold': '4.3%', 'taxes': '$6,529,559'}
{'month': 'February 2019', 'handle': '$881,756,490', 'revenue': '$51,972,715', 'hold': '5.9%', 'taxes': '$4,515,655'}
{'month': 'March 2019', 'handle': '$1,095,599,580', 'revenue': '$79,856,363', 'hold': '7.3%', 'taxes': '$10,746,670'}
{'month': 'April 2019', 'handle': '$731,628,959', 'revenue': '$52,524,099', 'hold': '7.2%', 'taxes': '$7,496,899'}
{'month': 'May 2019', 'handle': '$724,074,602', 'revenue': '$32,939,800', 'hold': '4.5%', 'taxes': '$4,843,870'}
{'month': 'June 2019', 'handle': '$685,786,299', 'revenue': '$34,150,011', 'hold': '5.0%', 'taxes': '$4,727,521'}
{'month': 'July 2019', 'handle': '$581,017,296', 'revenue': '$37,075,760', 'hold': '6.4%', 'taxes': '$5,068,934'}
{'month': 'August 2019', 'handle': '$750,692,735', 'revenue': '$62,738,953', 'hold': '8.4%', 'taxes': '$8,243,580'}
{'month': 'September 2019', 'handle': '$1,381,692,847', 'revenue': '$143,317,497', 'hold': '10.4%', 'taxes': '$21,232,130'}
{'month': 'October 2019', 'handle': '$1,559,104,891', 'revenue': '$155,108,642', 'hold': '9.9%', 'taxes': '$22,455,266'}
{'month': 'November 2019', 'handle': '$1,877,044,887', 'revenue': '$113,770,997', 'hold': '6.1%', 'taxes': '$18,117,771'}
{'month': 'December 2019', 'handle': '$1,870,346,374', 'revenue': '$114,143,414', 'hold': '6.1%', 'taxes': '$17,343,390'}
{'month': 'January 2020', 'handle': '$1,800,052,757', 'revenue': '$139,845,880', 'hold': '7.8%', 'taxes': '$24,031,829'}
{'month': 'February 2020', 'handle': '$1,731,395,665', 'revenue': '$84,328,330', 'hold': '4.9%', 'taxes': '$10,269,809'}
{'month': 'March 2020', 'handle': '$612,379,377', 'revenue': '$35,297,033', 'hold': '5.8%', 'taxes': '$6,971,328'}
{'month': 'April 2020', 'handle': '$167,875,839', 'revenue': '$9,762,318', 'hold': '5.8%', 'taxes': '$2,025,900'}
{'month': 'May 2020', 'handle': '$315,226,816', 'revenue': '$25,350,115', 'hold': '8.0%', 'taxes': '$4,337,748'}
{'month': 'June 2020', 'handle': '$447,471,765', 'revenue': '$29,732,415', 'hold': '6.6%', 'taxes': '$5,615,159'}
{'month': 'July 2020', 'handle': '$906,977,542', 'revenue': '$72,384,321', 'hold': '8.0%', 'taxes': '$10,714,112'}
{'month': 'August 2020', 'handle': '$2,191,669,452', 'revenue': '$129,761,682', 'hold': '5.9%', 'taxes': '$19,172,265'}
{'month': 'September 2020', 'handle': '$2,875,270,552', 'revenue': '$156,615,169', 'hold': '5.4%', 'taxes': '$20,297,227'}
{'month': 'October 2020', 'handle': '$3,276,726,385', 'revenue': '$291,317,909', 'hold': '8.9%', 'taxes': '$46,312,442'}
{'month': 'November 2020', 'handle': '$3,484,288,518', 'revenue': '$309,007,013', 'hold': '8.9%', 'taxes': '$52,721,047'}
{'month': 'December 2020', 'handle': '$3,797,269,693', 'revenue': '$277,472,250', 'hold': '7.3%', 'taxes': '$44,608,020'}
{'month': 'January 2021', 'handle': '$4,370,440,098', 'revenue': '$378,653,248', 'hold': '8.7%', 'taxes': '$54,734,427'}
{'month': 'February 2021', 'handle': '$4,013,657,606', 'revenue': '$225,993,459', 'hold': '5.6%', 'taxes': '$30,315,399'}
{'month': 'March 2021', 'handle': '$4,629,130,324', 'revenue': '$357,366,025', 'hold': '7.7%', 'taxes': '$46,072,780'}
{'month': 'April 2021', 'handle': '$3,703,934,150', 'revenue': '$283,202,902', 'hold': '7.6%', 'taxes': '$40,985,450'}
{'month': 'May 2021', 'handle': '$3,714,799,742', 'revenue': '$273,387,615', 'hold': '7.4%', 'taxes': '$40,128,243'}
{'month': 'June 2021', 'handle': '$3,676,060,695', 'revenue': '$335,906,085', 'hold': '9.1%', 'taxes': '$49,792,686'}
{'month': 'July 2021', 'handle': '$2,799,391,495', 'revenue': '$268,126,230', 'hold': '9.6%', 'taxes': '$37,810,988'}
{'month': 'August 2021', 'handle': '$3,071,879,791', 'revenue': '$224,622,673', 'hold': '7.3%', 'taxes': '$29,293,371'}
{'month': 'September 2021', 'handle': '$5,491,749,708', 'revenue': '$450,808,836', 'hold': '8.2%', 'taxes': '$51,990,345'}
{'month': 'October 2021', 'handle': '$7,546,972,781', 'revenue': '$448,627,693', 'hold': '5.9%', 'taxes': '$55,031,304'}
{'month': 'November 2021', 'handle': '$7,405,646,041', 'revenue': '$725,367,326', 'hold': '9.8%', 'taxes': '$99,002,593'}
{'month': 'December 2021', 'handle': '$7,339,244,974', 'revenue': '$381,002,482', 'hold': '5.2%', 'taxes': '$38,929,392'}
{'month': 'January 2022', 'handle': '$9,121,991,634', 'revenue': '$578,456,672', 'hold': '6.3%', 'taxes': '$100,419,078'}
{'month': 'February 2022', 'handle': '$7,615,995,316', 'revenue': '$372,188,722', 'hold': '4.9%', 'taxes': '$60,358,056'}
{'month': 'March 2022', 'handle': '$8,988,870,452', 'revenue': '$602,408,920', 'hold': '6.7%', 'taxes': '$108,074,314'}
{'month': 'April 2022', 'handle': '$7,476,187,515', 'revenue': '$527,189,281', 'hold': '7.1%', 'taxes': '$111,579,996'}
{'month': 'May 2022', 'handle': '$6,686,988,033', 'revenue': '$610,261,607', 'hold': '9.1%', 'taxes': '$122,646,968'}
{'month': 'June 2022', 'handle': '$5,480,948,489', 'revenue': '$334,079,739', 'hold': '6.1%', 'taxes': '$71,011,885'}
{'month': 'July 2022', 'handle': '$4,533,090,868', 'revenue': '$407,128,610', 'hold': '9.0%', 'taxes': '$84,837,874'}
{'month': 'August 2022', 'handle': '$4,909,529,483', 'revenue': '$526,908,745', 'hold': '10.7%', 'taxes': '$109,743,862'}
{'month': 'September 2022', 'handle': '$7,919,599,327', 'revenue': '$934,400,945', 'hold': '11.8%', 'taxes': '$175,269,630'}
{'month': 'October 2022', 'handle': '$9,732,287,654', 'revenue': '$843,130,409', 'hold': '8.7%', 'taxes': '$170,315,228'}
{'month': 'November 2022', 'handle': '$10,020,250,696', 'revenue': '$800,107,859', 'hold': '8.0%', 'taxes': '$173,637,791'}
{'month': 'December 2022', 'handle': '$10,053,933,645', 'revenue': '$954,897,119', 'hold': '9.5%', 'taxes': '$174,548,920'}
{'month': 'January 2023', 'handle': '$11,495,826,573', 'revenue': '$1,060,627,961', 'hold': '9.2%', 'taxes': '$189,570,163'}
{'month': 'February 2023', 'handle': '$9,013,936,358', 'revenue': '$709,218,779', 'hold': '7.9%', 'taxes': '$134,596,026'}
{'month': 'March 2023', 'handle': '$11,268,331,139', 'revenue': '$1,080,076,723', 'hold': '9.6%', 'taxes': '$205,091,587'}
{'month': 'April 2023', 'handle': '$9,096,204,901', 'revenue': '$853,618,698', 'hold': '9.4%', 'taxes': '$169,088,943'}
{'month': 'May 2023', 'handle': '$8,094,431,592', 'revenue': '$913,403,414', 'hold': '11.3%', 'taxes': '$181,662,434'}
{'month': 'June 2023', 'handle': '$6,567,218,270', 'revenue': '$543,450,122', 'hold': '8.3%', 'taxes': '$113,126,813'}
{'month': 'July 2023', 'handle': '$3,249,347,777', 'revenue': '$355,087,386', 'hold': '10.9%', 'taxes': '$94,750,905'}

In [35]:
month_rev_data_df = pd.DataFrame(month_data_list)
month_rev_data_df.head(5)

            month        handle      revenue   hold        taxes
0       June 2018  $309,695,659  $24,630,915   8.0%   $2,221,650
1       July 2018  $294,006,820   $8,433,994   2.9%     $926,804
2     August 2018  $359,275,692  $23,625,881   6.6%   $2,524,419
3  September 2018  $817,681,310  $95,358,434  11.7%  $12,245,073
4    October 2018  $854,014,077  $45,832,391   5.4%   $5,217,752

In [36]:
#create a dataframe from the market_data

#remove $ signs from the data and convert to float

#remove % signs from the data, convert to float, and divide by 100

In [37]:
month_rev_data_df.to_csv('Resources/month_rev_data_df.csv', index=False)

3. Major Professional sports teams of the US and canada - Data did not scrape correctly due to table set up in Wikipedia - single cell overlap between the states etc--> pulled data by copying from excel --> if anyone wants to try you are more than welcome to dig in --> current file major_teams_usa.csv

5. build a large data scrape loop to get each states data in a dataframe --> see if possible

4. Add geopify API to state list --> Map Leaflet Set up --> https://www.geoapify.com/boundaries-api

5. Census population data was downloaded directly from the census tabular menu - no need to do an API. - https://data.census.gov/table - https://data.census.gov/table?q=B05003&g=010XX00US$0400000&tid=ACSDT1Y2021.B05003 - 
B05003SEX BY AGE BY NATIVITY AND CITIZENSHIP STATUS

6. Summary by online vs in-person betting by state done via download - https://www.gamingtoday.com/states/